Build/
Assets/tex/common/.mayaSwatches/
*.jbf
Script/iOS-XCode-rainbowDrop/Rainbow Drop/RainbowDrop.xcworkspace/xcuserdata
Script/iOS-XCode-rainbowDrop/Rainbow Drop/Rainbow Drop.xcodeproj/project.xcworkspace/xcshareddata
Script/iOS-XCode-rainbowDrop/Rainbow Drop/Rainbow Drop.xcodeproj/project.xcworkspace/xcuserdata
contents.xcworkspacedata
Script/MsvcProject/AmjuRainbowDrop-MsvcProject.opensdf
Script/MsvcProject/AmjuRainbowDrop-MsvcProject.sdf
Script/MsvcProject/AmjuRainbowDrop-MsvcProject.v12.suo
